﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proyect FirsCode </title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/bootstrap.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/layout_fixed_custom.js"></script>
    <!-- /theme JS files -->
</head>
<body class="navbar-top">
    <!-- Main navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <ul class="nav navbar-nav pull-right visible-xs-block" style="background-color:#eb0c0c">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken();

                <div class="navbar-collapse collapse" id="navbar-mobile">
                    <a class="navbar-brand text-center" href="@Url.Action("Index", "Home")">
                        <strong style="font-size: 2em; color:#ffffff; margin:20px auto;"> Proyect First Code</strong>
                    </a>
                    <ul class="nav navbar-nav">
                        <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="background-color: #ff5f00;">
                        <li class="dropdown dropdown-user">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <span style="text-decoration:solid">@User.Identity.Name</span>
                                <i class="caret"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><i class="icon-user-plus"></i>Mi perfil</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-switch2"></i> Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            
        }
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main sidebar-fixed">
                <div class="sidebar-content">
                    <!-- User menu -->
                    <div class="sidebar-user-material">
                        <div class="category-content">
                            <div class="sidebar-user-material-content" style="height:160px;">
                                <div class="icon-object border-slate-300 text-slate-300 "><i class="icon-reading"></i></div>
                                <span class="text-size-small">@User.Identity.Name</span>
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">
                                <!-- Main -->
                                <li class="navigation-header"><span>Menu Principal</span> <i class="icon-menu" title="Main pages"></i></li>
                                <li><a href="@Url.Action("Index","Home")"><i class="icon-home4"></i> <span>Inicio</span></a></li>
                                <li>
                                    <a href="#"><i class="icon-stack"></i> <span>Usuarios</span></a>
                                    <ul>
                                        <li><a href="#">Administrar Roles</a></li>
                                        <li><a href="#">Administrar Permisos</a></li>
                                        <li><a href="#">Administrar Usuarios</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-cart5"></i> <span>Productos</span></a>
                                    <ul>
                                        <li><a href="#">Agregar Producto</a></li>
                                        <li><a href="#">Ventas</a></li>
                                        <li><a href="#">Bitacora</a></li>
                                    </ul>
                                </li>
                                <!-- /main -->
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="page-header">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">FirstCode</span> - Proyect</h4>
                        </div>
                    </div>

                    <div class="breadcrumb-line breadcrumb-line-component">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("Index","Home")"><i class="icon-home2 position-left"></i> Inicio</a></li>
                            @RenderSection("PageCrumb", false)
                        </ul>
                        @*<ul class="breadcrumb-elements">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear position-left"></i>
                                Configuracion
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><i class="icon-statistics"></i> Cuenta</a></li>
                                <li><a href="#"><i class="icon-accessibility"></i> Cambiar Contraseña</a></li>
                            </ul>
                        </li>
                    </ul>*@
                    </div>
                   
                </div>

                    <!-- /page header -->
                    <!-- Content area -->
                    <div class="content">
                        @RenderBody()
                        <!-- Footer -->
                        <div class="footer text-muted">
                            &copy;  @DateTime.Now.Year. <a href="#">example Web App</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
                        </div>
                        <!-- /footer -->
                    </div>
                    <!-- /content area -->
                </div>
                <!-- /main content -->
            </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    @RenderSection("CustomScripts", required: false)
</body>
</html>
